In [17]:
import pandas as pd

In [18]:
df = pd.read_csv(r"C:\Users\Johan Larsson\Desktop\data/combined_csv.csv")

In [19]:
df.head(10)

,endTime,artistName,trackName,msPlayed,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,8/19/2019 9:30,Lorentz,När allt det här är över,422192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8/19/2019 9:34,Miriam Bryant,Du Med Dig,195133.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/19/2019 9:49,Frank Ocean,Pyramids,582765.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/19/2019 9:54,Frank Ocean,Ivy,1681.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8/19/2019 9:54,Lorentz,När allt det här är över,267045.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,8/19/2019 10:00,Håkan Hellström,En midsommarnattsdröm,390490.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,8/19/2019 10:06,Håkan Hellström,Försent för Edelweiss,326555.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8/19/2019 10:07,Håkan Hellström,Gårdakvarnar och skit,70826.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8/19/2019 10:12,Markus Krunegård,Jag är en vampyr,316202.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,8/19/2019 10:12,Håkan Hellström,Gårdakvarnar och skit,2325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24199 entries, 0 to 24198
Data columns (total 15 columns):
endTime        23137 non-null object
artistName     23137 non-null object
trackName      23137 non-null object
msPlayed       23137 non-null float64
Unnamed: 4     1062 non-null object
Unnamed: 5     1062 non-null object
Unnamed: 6     1062 non-null object
Unnamed: 7     651 non-null object
Unnamed: 8     77 non-null object
Unnamed: 9     21 non-null object
Unnamed: 10    12 non-null object
Unnamed: 11    7 non-null object
Unnamed: 12    5 non-null object
Unnamed: 13    3 non-null object
Unnamed: 14    2 non-null object
dtypes: float64(1), object(14)
memory usage: 2.8+ MB

In [21]:
df.describe()

           msPlayed
count  2.313700e+04
mean   1.353567e+05
std    2.634831e+05
min    0.000000e+00
25%    6.506000e+03
50%    9.112600e+04
75%    2.012000e+05
max    7.271722e+06

In [22]:
print(df.columns)

Index(['endTime', 'artistName', 'trackName', 'msPlayed', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14'],
      dtype='object')

In [23]:
df.drop(['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
        'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
        'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
        'Unnamed: 13', 'Unnamed: 14'], axis=1, inplace=True)

In [24]:
df.head(10)

           endTime        artistName                 trackName  msPlayed
0   8/19/2019 9:30           Lorentz  När allt det här är över  422192.0
1   8/19/2019 9:34     Miriam Bryant                Du Med Dig  195133.0
2   8/19/2019 9:49       Frank Ocean                  Pyramids  582765.0
3   8/19/2019 9:54       Frank Ocean                       Ivy    1681.0
4   8/19/2019 9:54           Lorentz  När allt det här är över  267045.0
5  8/19/2019 10:00   Håkan Hellström     En midsommarnattsdröm  390490.0
6  8/19/2019 10:06   Håkan Hellström     Försent för Edelweiss  326555.0
7  8/19/2019 10:07   Håkan Hellström     Gårdakvarnar och skit   70826.0
8  8/19/2019 10:12  Markus Krunegård          Jag är en vampyr  316202.0
9  8/19/2019 10:12   Håkan Hellström     Gårdakvarnar och skit    2325.0

In [31]:
df.dropna(subset=['endTime', 'artistName', 'trackName', 'msPlayed'], inplace=True)

In [32]:
df.isna()

       endTime  artistName  trackName  msPlayed
0        False       False      False     False
1        False       False      False     False
2        False       False      False     False
3        False       False      False     False
4        False       False      False     False
...        ...         ...        ...       ...
23132    False       False      False     False
23133    False       False      False     False
23134    False       False      False     False
23135    False       False      False     False
23136    False       False      False     False

[23137 rows x 4 columns]

In [33]:
df.to_csv("streaminghistoryclean.csv")